{% extends "base_generic.html" %}
{% block title%}
  <title>TextToTranscript</title>
{% endblock %}
{% block content %}
  <section class="hero mt-4">
    <div class="hero-body">
      <div class="columns is-align-items-center is-justify-content-center">
        <div class="column is-5">
          <p class="title is-size-4">
            Convert Text into Transcripts
          </p>
          <p class="is-size-6">
            TextToTranscript is a user-friendly FREE online tool for converting text into formatted transcripts with proper grammar and punctuation. No login is required. Simply enter your text and specify the language if needed.
          </p>
        </div>
        <div class="column is-1 is-0-mobile"></div>
        <div class="column is-6 m-2 box input-form">
          <form class="form" method="post">
            {% csrf_token %}
            <input type="hidden" name="transcript" value="{{ transcript_json }}">
            
            <div class="field">
              <label class="label" for="{{form.input_text.id_for_label}}">Enter Text</label>
              <div class="control">
                <textarea id="{{form.input_text.id_for_label}}" name="{{form.input_text.html_name}}" class="textarea" placeholder="Paste or type your text here">{{form.input_text.value|default_if_none:''}}</textarea>
              </div>

              {% if form.input_text.errors %}
                {% for error in form.input_text.errors %}
                  <p class="help is-danger">{{ error|safe }}</p>
                {% endfor %}
              {% endif %}

              {% if form.non_field_errors %}
                <p class="help is-danger">
                  {% for error in form.non_field_errors %}
                    {{ error|safe }}
                  {% endfor %}
                </p>
              {% endif %}
            </div>
            
            <div class="field">
              <label class="label">Language</label>
              <div class="control">
                <div class='select'>
                  {{ form.language }}
                </div>
              </div>
            </div>
            
            <div class="field mb-0">
              <div class="control">
                <button id="submit-button" class="button is-primary" type="submit">Transcribe!</button>
              </div>
            </div>
            
            <p class="is-size-7 has-text-grey disclaimer">May take up to 30 seconds.</p>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
